$texto: 'SourceSansPro-Light', Arial, sans-serif;
$texto_medium : 'SourceSansPro-Regular', Arial, sans-serif;
$texto_semibold : 'SourceSansPro-Semibold', Arial, sans-serif;

$blanco : #FFFFFF;
$gris : #444444;
$azul : #00529c;
$azul_old : #004584;
$verde : #01b9bd;
$rojo : #e30613;
$amarillo : #ffab42;
$old_verde: #40aa60;